/* Section headings */
.sectionHeads {
  font-size: 40px;

  text-align: center;
  margin-top: 50px;
}

/* extras */
.favoritejobs {
  width: 80%;
  margin: auto;
}
.JobcardFirstDiv {
  padding: 10px;
}
.JobScontainer {
  z-index: -1;
  width: 90%;
  min-height: 75vh;
  margin: auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.JobScontainer > div {
  width: 90%;
  margin: 10px auto;
  padding: 5px;
  height: auto;
}

.JobCard {
  position: relative;
  border-radius: 5px;
  background-color: white;
  color: black;
  margin: 10px auto;
  padding: 20px;
  height: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#favButton:hover {
  background-color: rgb(109, 6, 6);
}
.jobCard2ndDiv {
  display: flex;
  justify-content: center;
  margin: 5px 5px;
}
.jobCard2ndDiv > button {
  padding: 8px 30px;
  border: 0px;
  width: 40%;
  margin: 3px;
  border-radius: 25px;
  color: rgb(255, 255, 255);
}
#favButton {
  font-size: 18px;
  font-weight: 500;
  bottom: 10px;
  background-color: rgb(215, 23, 23);
}

#viewButton {
  padding: 8px 10px;
  font-size: 18px;
  font-weight: 500;
  background: var(--themcolor);
}
.cardimage {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  text-align: center;
  margin-left: 60px;
}
#viewButton:hover {
  z-index: 1.1;
  background: rgb(63, 94, 251);
}
.cardimage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  text-align: center;
  margin-left: 60px;
}
#Jobname {
  font-size: 25px;
}
.recom-bar {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  padding: 10px 25px;
  filter: hue-rotate(349deg);
  background-image: url("Images/pattern.avif");
  background-position: center;
  background-size: cover;
}
.recom-bar > div > h1 {
  margin: 0px 50px;
  font-size: 60px;
  color: rgb(17, 54, 130);
}
