/* first section start ============================================================================================*/
.FirstView {
  margin: 0px;
  height: 100vh;
  background: url(Images/mainimg.gif);
  filter: brightness(1.1) hue-rotate(348deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#space {
  height: 90px;
}
.frontpage {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 00px 90px;
  min-height: 100vh;
}
.frontpage > div {
  width: 50%;
  height: 100% !important;
  height: fit-content;
}

#heading {
  font-size: 48px;
  font-weight: 500;
}
#maintextholder {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: start;
  align-items: center;
}
#maintextholder > div {
  width: 70%;
  padding: 0;
}

#mainimgholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainimg {
  width: 70%;
  border: 1px solid white;
  transition: all 350ms ease;
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* big search box  start ============================================================================================ */
.searchbox {
  width: 80%;
  margin: 50px auto;
}

#searchbox-inner {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  margin: 5px 20px;
  border-radius: 50px;
  background-color: white;
  transition: all 350ms ease;
}

#searchbox-inner:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 8px 10px 2px;
}

.searchinput {
  width: 28%;
  border: 0px;
  border-right: 1px solid grey;
  font-size: 18px;
  padding: 10px;
}

.searchinput:hover,
.searchinput:focus {
  outline: none;
}

/* big seatch box end ============================================================================================*/

/* job links start  ============================================================================================*/
.job-link:hover {
  cursor: pointer;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.job-links {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px 20px;
  margin: 20px auto;
  margin-bottom: 50px;
}

.job-link {
  text-align: center;
  width: auto;

  padding: 10px 14px;
  font-size: 18px;
  margin: 1px;
  border: 2px solid white;
  background-color: rgb(172, 182, 191);
  border-radius: 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: all 350ms ease;
}
/* job links end  ============================================================================================*/
.mncbox {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 3px;
  margin: 4px;
}
.mncbox > div {
  line-height: 1;
}
