/* loginslider  */
/* loginslider  */
main {
  padding-top: 80px;
}

.searchbox {
  width: 100%;
  border-radius: 5px;
  margin: 0px 0px;
}

#searchbox-inner {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 7px;
  background-color: white;
}

#searchbox-inner:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.searchinput {
  border: 0px;
  font-size: 18px;
  padding: 10px;
}
.searchinput:focus {
  outline: none;
}
/* section  */
.ActualPage {
  height: auto;
  display: flex;
  position: relative;
  justify-content: space-around;
}
.sort {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  position: fixed;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  left: 20px;
  top: 200px;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  margin: 5px;
}
.recom-bar {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  display: flex;
  justify-content: right;
  background-size: cover;
  background: azure;
  background-position: bottom;
}
.recom-bar > div {
  margin: 0px 30px;
}
#update {
  background: rgb(113, 231, 211);
}
.JobScontainer {
  z-index: 1;
  width: 67%;
  min-height: 80vh;
  margin-top: 10px;
  margin-left: 400px;
}
.JobScontainer > div {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 90%;
  margin: 10px auto;
  padding: 20px;
  height: auto;
}
.JobCard {
  border-radius: 5px;
  background-color: white;
  color: black;
  width: 80%;
  margin: 20px auto;
  padding: 5px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.JobCard button {
  color: white;
  margin: 5px;
  padding: 5px 20px !important;
}
.JobcardFirstDiv {
  width: 70%;
  margin: 15px 15pxs;
}
#headingJobs {
  position: fixed;
  font-size: 100px;
  left: 110px;
  top: 70px;
  color: black;
  text-shadow: 3px 3px var(--themcolor);
}

#favButton {
  border-radius: 30px;
  border: 0px;
  font-weight: 500 !important;
  font-size: 17px;
  background-color: rgb(12, 133, 255);
}

#favButton:hover {
  background-color: rgb(17, 86, 151);
}
#viewButton {
  border-radius: 30px;
  border: 0px;
  font-weight: 500 !important;
  font-size: 17px;
  background: rgb(82, 163, 7);
}
#viewButton:hover {
  background-color: rgb(17, 86, 151);
}
.cardimage {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  object-fit: cover;
  border: 3px solid rgb(170, 168, 168);
  border-radius: 12px;
  text-align: right;
}
.loaderDiv {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Jobname {
  font-size: 25px;
}
#logoutbut {
  padding: 10px 70px;
  background: rgb(255, 0, 0);
}
#logoutbut:hover {
  background-color: orange;
}
#filter {
  border-radius: 5px;
  font-size: 18px;
  margin: 5px auto;
  width: 100%;
  padding: 7px;
  background-color: azure;
}
#filter:hover {
  cursor: pointer;
}
/* leftpart  */
#myRange {
  width: 100%;
  margin: auto;
}
#stars {
  font-size: larger;
}
#slider {
  width: 100%;
}
.ratingslider > div {
  padding: 5px;
  margin: 15px auto;
  border-radius: 5px;
}
.HTLswitcher,
.filterdiv,
.ratingslider {
  padding: 3px;
}
.HTLswitcher > div {
  margin: 2px auto;
  background-color: white;
  border-radius: 5px;
}
#bagicon {
  font-size: 50px;
}
