body {
  padding-top: 80px;
}
section {
  margin-left: 50px;
  margin-right: 50px;
}
.searchbox {
  width: 100%;
  margin: 0px 0px;
}

#searchbox-inner {
  width: 50%;
  border: 2px solid transparent;
  border-radius: 7px;
  background-color: white;
}

#searchbox-inner:hover {
  border: 2px solid var(--themcolor);
}

.searchinput {
  border: 0px;
  width: 80%;
  font-size: 18px;
  padding: 10px;
}
.searchinput:focus {
  outline: none;
}

.white {
  background-color: white;
  color: black;
}
.black {
  color: black;
}

/* extras start  */

.Avatar {
  background-image: url("Images/avatar.png");
  background-size: contain;
  border: 2px solid white;
  border-radius: 50%;
  filter: hue-rotate(260deg) brightness(1.1);
  width: 100px;
  height: 100px;
  position: absolute;
  top: 150px;
  z-index: 1;
  right: 250px;
}

.insidePI {
  margin-top: 110px;
  background-color: white;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  padding-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 38px;
  color: black;
}
.insidePI #avatarname {
  color: var(--themcolor) !important;
}
.PersonInfo {
  width: 400px;
  height: auto;
  position: absolute;
  top: 100px;
  right: 100px;
}

.PlacemeApp {
  border-radius: 20px;
  width: 355px;
  padding: 20px;

  height: auto;
  color: black;
  background-color: white;
}

#placemeimg {
  z-index: 1;
}

.headsters {
  font-size: 34px;
  margin: 5px auto;
  font-weight: bolder;
}

.band {
  background-image: url("Images/pattern.avif");
  background-size: cover;
  height: 200px;
  display: flex;
  filter: hue-rotate(343deg);
  padding-left: 200px;
  justify-content: center;
  align-items: center;
}

.container1 {
  width: 55vw;
  height: auto;
  margin-top: 80px;
  margin-left: 10px;
}

.container1 > div {
  width: 100%;
  height: 90%;
  margin: 10px auto;
}

.JobcardFirstDiv {
  width: 70%;
}

#JobLine {
  font-size: 14px;
}

#flexing {
  width: 55vw;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 15px;
}

#flexing > div {
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 3px;
  padding: 15px;
  border-radius: 7px;
}

#flexing > div > div {
  width: 90%;
  height: 78px;
  padding: 15px;
  border-radius: 7px;
  background-color: rgb(199, 197, 197);
}

.recruiters {
  width: 55vw;
}

.recruiters > div {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  height: auto;
  display: flex;
}

/* hello */
.cardimage {
  width: 200px;
  height: 200px;
  text-align: right;
}

#Jobname {
  font-size: 25px;
}

#favButton {
  margin: 10px auto;
  padding: 10px 30px;
  border-radius: 30px;
  border: 0px;
  font-weight: 500 !important;
  font-size: 17px;
  cursor: pointer;
  background-color: rgb(201, 253, 146);
}

#favButton:hover {
  background-color: rgb(32, 3, 122);
}
.recruiters img {
  border-radius: 5px;
}
#headingJobs {
  position: absolute;
  font-size: 50px;
  font-weight: bolder;
  left: 110px;
  top: 280px;
  margin-top: 13px;
  color: black;
  text-shadow: 2px 2px var(--themcolor);
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  background: url("Images/back.png");
}

#qrcose {
  width: 50%;
  align-self: center;
}
.JobScontainer > div {
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
