.otpx {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
#secotion {
  margin-top: 80px;
}

.otpinput {
  padding: 10px;
  margin: 5px;
  border: none;
  font-size: 20px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border-radius: 3px;
  width: 70%;
}
.otpinput:focus {
  box-shadow: rgba(25, 233, 219, 0.3) 0px 0px 0px 3px;
  outline: none;
}
.otpx > div:nth-child(1) {
  padding: 0px;
  width: 60%;
}

.otpx > div {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  text-align: center;
  width: 35%;
  padding: 20px;
  margin: 25px;
}
#google-button {
  width: 100px;
  margin: auto;
}
#otpbutton {
  background-color: white;
  padding: 5px 40px;
  border: 1px solid gold;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: gold 0px 2px 4px;
  margin: 20px auto;
}
#otpbutton:hover {
  background-color: gold;
  box-shadow: rgb(171, 170, 165) 0px 2px 4px;
}
.white {
  background-color: white;
  border-radius: 10px;
  color: black;
}

.JobScontainer {
  border-radius: 10px;
  z-index: 0;
  height: max-content;
  margin: 0px;
}
.JobScontainer > div {
  width: 95%;
  margin: 20px;
  padding: 0px;
  height: auto;
}
.JobCard {
  border-radius: 5px;
  background-color: white;
  color: black;
  width: 100%;
  margin: 10px auto;
  padding: 5px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.JobcardFirstDiv {
  text-align: left;
  width: 70%;
}
.JobcardFirstDiv + div {
  min-height: 450px;
}

#favButton {
  padding: 10px 18px;
  border: 0px;
  border-radius: 28px;
  background: grey;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 5px;
  font-weight: 500;
}
#viewButton {
  font-size: 20px;
  background: var(--themcolor);
  padding: 8px 20px;
  border: 0px;
  font-weight: 500;
  border-radius: 28px;
  margin: 5px;
  margin-top: 7px;
}
#favButton:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}
#viewButton:hover {
  background-color: rgb(19, 123, 158);
  cursor: pointer;
  color: white;
}

.cardimage {
  width: 200px;
  height: 200px;
  margin-top: 0px;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid greenyellow;
}
#Jobname {
  font-size: 45px;
}
#heading1 {
  font-size: 40px;
  background-color: rgb(214, 255, 236);
  text-shadow: 2px 2px var(--themcolor);
  padding: 5px 90px;
}
#heading2 {
  text-shadow: 3px 3px rgb(26, 215, 42);
  font-size: 80px;
  margin: 5px auto;
}
