/* loginslider  */
#avatarhead {
  font-size: 50px;
  margin: 10px auto;
}
.UserDetails {
  text-align: center;
}
.UserDetails > div {
  text-align: left;
  margin: 20px;
}
#avatar {
  width: 50%;
  border-radius: 50%;
  border: 3px solid white;
}
.avatarx {
  color: coral;
  font-size: 22px;
  margin-left: 15px;
}

body {
  background-image: url("Images/signup.jpg");
  background-size: cover;
}
.otpx {
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.otpinput {
  padding: 10px;
  margin: 5px;
  border-radius: 9px;
  width: 70%;
}
.otpx > div:nth-child(1) {
  padding: 0px;
  background: transparent;
  border: 0px;
  width: 60%;
}
.otpx > div:nth-child(2) {
  -webkit-box-shadow: 0px 0px 31px 0px rgba(255, 255, 255, 0.74);
  -moz-box-shadow: 0px 0px 31px 0px rgba(255, 255, 255, 0.74);
  box-shadow: 0px 0px 31px 0px rgba(255, 255, 255, 0.74);
}
.otpx > div {
  text-align: center;
  width: 35%;
  padding: 20px;
  margin: 25px;
  margin-top: 80px;
  height: 80%;
  border: 1px solid white;
  -webkit-box-shadow: 0px 0px 62px 6px rgba(45, 59, 255, 0.55);
  -moz-box-shadow: 0px 0px 62px 6px rgba(19, 46, 176, 0.55);
  box-shadow: 0px 0px 62px 6px rgba(12, 25, 113, 0.55);
}
#google-button {
  width: 100px;
  margin: auto;
}
#otpbutton {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 40px;
  border: 2px solid gold;
  margin: 20px auto;
}
#otpbutton:hover {
  -webkit-box-shadow: 0px 0px 62px 6px rgba(45, 255, 196, 0.55);
  -moz-box-shadow: 0px 0px 62px 6px rgba(45, 255, 196, 0.55);
  box-shadow: 0px 0px 62px 6px rgba(45, 255, 196, 0.55);
}
.white {
  background-color: white;
  border-radius: 10px;
  color: black;
}
div[type="OTP"] {
  display: static;
  background-color: rgba(0, 0, 0, 0.8);
}
.JobScontainer {
  background-color: white;
  border-radius: 10px;
  z-index: 0;
  height: max-content;
  margin: 0px;
}
.JobScontainer > div {
  width: 90%;
  margin: 25px auto;
  padding: 20px;
  height: auto;
}
.JobCard {
  border-radius: 5px;
  background-color: white;
  color: black;
  width: 100%;
  margin: 10px auto;
  padding: 5px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.JobcardFirstDiv {
  text-align: left;
  width: 70%;
}
.JobcardFirstDiv + div {
  height: 450px;
}

#favButton {
  padding: 10px 18px;
  border: 0px;
  color: white;
  background: rgb(255, 0, 228);
  background: linear-gradient(
    90deg,
    rgb(26, 156, 145) 0%,
    rgba(8, 129, 123, 1) 89%
  );
  font-size: 20px;
  margin: 5px;
  border-radius: 20px;
}
#viewButton {
  font-size: 20px;
  padding: 8px 15px;
  border: 0px;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgb(66, 152, 250);
  margin: 5px;
  margin-top: 7px;
}
#favButton:hover {
  background-color: rgb(32, 3, 122);
  cursor: pointer;
}
#viewButton:hover {
  background-color: rgb(187, 185, 183);
  cursor: pointer;
}

.backbutton {
  margin: 10px auto;
  padding: 11px 30px;
  border-radius: 30px;
  font-size: 30px;
  border: 0px;
  color: white;
  background: rgb(1, 255, 221);
  background: linear-gradient(
    90deg,
    rgb(36, 191, 28) 10%,
    rgb(32, 169, 171) 81%,
    rgb(62, 9, 196) 100%
  );

  -webkit-box-shadow: 0px 0px 56px 0px rgba(255, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 56px 0px rgba(255, 0, 0, 0.49);
  box-shadow: 0px 0px 56px 0px rgba(255, 0, 0, 0.49);
}
.backbutton:hover {
  cursor: pointer;

  -webkit-box-shadow: 0px 0px 56px 0px rgba(255, 242, 0, 0.58);
  -moz-box-shadow: 0px 0px 56px 0px rgba(255, 242, 4, 0.58);
  box-shadow: 0px 0px 56px 0px rgba(255, 245, 49, 0.58);
}
.cardimage {
  width: 200px;
  height: 200px;
  margin-top: 0px;
  text-align: center;
  border-radius: 15px;
  border: 2px solid greenyellow;
}
#Jobname {
  font-size: 45px;
}
#heading1 {
  position: absolute;
  top: 100px;
  font-size: 40px;
  margin: 5px auto;
  color: white;
}
#heading2 {
  font-size: 80px;
  margin: 5px auto;
  color: white;
}
