body {
  background: white;
}

.signup {
  margin-top: 90px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.fileinput {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signininput {
  padding: 10px;
  margin: 5px;
  border: 2px solid grey;
  border-radius: 3px;
  width: 70%;
}
.signup > div {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  padding: 15px;
  border-right: 1px solid white;
}

.signup > div:nth-child(2n-1) {
  width: 25%;
  padding: 20px;
  border-right: 1px solid white;
}
.fileinput {
  border-radius: 10px;
  width: 350px;
  margin: 10px;
}
.fileinput:hover,
.fileinput > input:hover {
  cursor: pointer;
}
#google-button {
  width: 100px;
  margin: auto;
}
#third-sec {
  text-align: center;
  align-items: center;
}
.continue {
  padding: 15px;
  border-radius: 10px;
}
div[type="Login"] {
  display: none;
}
div[type="SignIn"] {
  display: static;
}
form > select {
  padding: 10px;
  border-radius: 10px;
  margin: 5px 20px;
}
.signupnow {
  border: 1px solid white;

  padding: 5px 30px;
  margin: 5px 10px;
}
.signupnow:hover {
  background: white;
  color: rgb(0, 0, 0);
  border: 1px solid blueviolet;
}
