.recom-bar {
  margin-top: 80px;
  filter: hue-rotate(349deg);
  background-image: url("Images/pattern.avif");
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-blend-mode: soft-light;
}
.recom-bar > div {
  margin: 0px 20px;
}

.JobScontainer {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  z-index: 1;
  height: auto;
  margin: 10px 20px;
}
.JobScontainer > div {
  width: 90%;
  margin: 30px auto;
  padding: 5px;
  height: auto;
}
.JobCard {
  border-radius: 5px;
  background-color: white;
  color: black;
  width: 100%;
  margin: 30px auto;
  padding: 5px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.JobcardFirstDiv {
  width: 70%;
  margin: 30px auto;
}
#favButton {
  padding: 10px 18px;
  border: 0px;
  font-weight: 500;
  font-weight: 500;
  background: var(--themcolor);
  font-size: 18px;
  margin: 5px;
  border-radius: 25px;
}
#viewButton {
  font-weight: 500;
  font-size: 18px;
  padding: 10px 15px;
  border: 0px;
  border-radius: 25px;
  background-color: rgb(175, 211, 253);
  margin: 5px;
  margin-top: 7px;
}
#favButton:hover {
  background-color: orange;
  cursor: pointer;
}
#viewButton:hover {
  background-color: rgb(190, 247, 238);
  cursor: pointer;
}

.backbutton {
  margin: 10px auto;
  padding: 6px;
  border-radius: 30px;
  font-size: 18px;
  border: 0px;
  width: 100%;
  background: rgb(184, 248, 239);
}
.backbutton:hover {
  cursor: pointer;
}
.cardimage {
  width: 300px;
  height: 400px;
  margin: 4px;
  object-fit: cover;
  border-radius: 5px;
  object-position: center;
  text-align: right;
}
#Jobname {
  font-size: 30px;
}
#leftpart {
  width: 75%;
}
#rightpart {
  display: block;
}
.BigBoiiii {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.text-container {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 30px 40px;
  z-index: 1;
  height: auto;
  margin: 10px 20px;
}
.black-text-container {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  padding: 30px 40px;
  z-index: 1;
  height: auto;
  margin: 10px 20px;
}
#rightpart {
  width: 340px;
}
.JobDetailsHead {
  font-size: 50px;
  text-shadow: 2px 2px rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
#mobile {
  background-color: white;
  color: black;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 20px;
}
#app {
  text-align: center;

  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  color: black;
}
