/*! --------------------------------Small Screen Sizes -------------------------------- */

@media all and (min-width: 320px) and (max-width: 809px) {
  /*todo------------------------------------ Universals------------------------------------ */

  header {
    padding: 2px;
    display: flex;
    justify-content: space-around;
  }
  header > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px;
    margin: 0px;
  }
  .home > a > div {
    margin: 0px 5px;
    padding: 1px;
    text-align: center;
  }
  .loginslider {
    display: block;
  }
  .mobile-nav-toggle {
    display: block;
    top: 25px;
    right: 30px;
  }
  .primary-navigation {
    inset: 0 0 0 30%;
  }
  .logininput,
  .googlebutton {
    font-size: 8px;
    width: 72%;
  }
  .jobsul,
  .Compsul,
  .Servsul,
  .jobsul:hover,
  .Compsul:hover,
  .Servsul :hover,
  #JobsNav:hover .jobsul,
  #CompNav:hover .Compsul,
  #ServNav:hover .Servsul {
    display: none;
  }
  .problem {
    height: 38vh;
    width: 45vh;
    margin: auto;
    left: 10px;
    top: 150px;
    color: black;
  }
  /* ----------------------------------Page Specific Start---------------------------------- */

  #heading {
    font-size: 10px;
    color: white;
    text-shadow: 1px 1px black;
  }
  #mainimg {
    width: 220px;
  }

  .frontpage {
    min-height: fit-content;
    padding: 5px;
  }
  .FirstView {
    margin-top: 55px;
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: left;
  }
  .Firstview > div {
    height: auto;
  }
  #maintextholder {
    width: 100%;
    height: auto;
  }
  #space {
    height: 50px;
  }
  #maintextholder > div {
    margin: 2px;
    padding: 18px;
    text-align: left;
  }
  #mainimgholder {
    width: 100%;
    height: fit-content;
  }
  #heading {
    font-size: 20px;
    margin-left: 2px;
  }
  .searchbox {
    padding: 2px;
  }
  #searchbox-inner {
    padding: 5px 8px;
    margin: 3px 10px;
  }
  .searchinput {
    width: 70%;
    font-size: 10px;
    padding: 2px;
  }
  select.searchinput,
  input#xx {
    display: none;
  }
  .job-links {
    grid-template-columns: repeat(3, 1fr);
    gap: 2px 5px;
  }
  .job-link {
    font-size: 1px;
    border-radius: 10px;
  }

  .Slidebuttons {
    width: 40px;
    top: 50% !important;
    padding: 3px;
    border-radius: 24px;
    background-color: rgb(231, 229, 228);
    height: fit-content !important;
  }
  .compslidtranslateNXT2 {
    transform: translateX(-300px);
  }
  .compslidtranslatePRE2 {
    transform: translateX(0px);
  }
  #Slider > div,
  #Slider2 > div {
    grid-template-columns: repeat(4, 1fr);
  }

  .compslidtranslateNXT {
    transform: translateX(-200px);
  }
  .compslidtranslatePRE {
    transform: translateX(0px);
  }
  #appsect input {
    font-size: 10px;
  }

  #interview-sec,
  #interview-sec2,
  #appsect {
    margin: 10px 5px;
    padding: 10px;
    height: fit-content;
  }
  .discover-jobs {
    flex-direction: column;
    width: 90%;
    height: fit-content;
  }
  .discover-jobs > div:nth-child(1) {
    height: 250px;
    width: 100%;
    background-position: center;
  }
  .discover-jobs > div:nth-child(2) {
    display: flex;
  }
  .discover-jobs button {
    padding: 5px 7px;
    margin: 5px 10px;
    width: 70%;
    font-size: 8px;
  }
  #interview-sec > div {
    flex-direction: column;
    height: fit-content;
  }
  .Intergrid {
    grid-template-columns: repeat(3, 1fr);
    margin: 5px auto;
    gap: 10px;
  }
  .Intergrid > div {
    height: 24px;
    padding: 7px 12px;
  }
  .Intergrid label {
    font-size: 4px;
  }
  .Intergrid a {
    font-size: 10px;
  }
  #interview-sec > div > div:nth-child(1) {
    width: 90%;
    height: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #interview-sec > div > div:nth-child(3) {
    display: none;
  }
  #interview-sec > div > div:nth-child(2) {
    width: 100%;
  }
  #interview-sec2 > div {
    height: fit-content;
    margin: 7px;
    flex-direction: column;
  }
  #interview-sec2 > div > div:nth-child(1) {
    display: none;
  }
  #interview-sec2 > div > div:nth-child(2) {
    width: 100%;
  }
  #interview-sec2 > div > div:nth-child(2) > h1 {
    font-size: 15px;
  }
  #interview-sec2 > div > div:nth-child(3) {
    width: 88%;
    height: 170px;
  }
  #interview-sec2 button {
    padding: 2px 4px;
    max-width: 5px 2px;
    font-size: 10px;
  }
  #appsect > div {
    height: fit-content;
    margin: 7px;
    flex-direction: column;
  }
  #appsect > div > div:nth-child(1) {
    width: 88%;
  }
  #appsect > div > div:nth-child(2) {
    display: none;
  }
  #appHead {
    font-size: 15px;
  }
  #appsect a {
    margin: 10px 10px;
    margin-left: 20px;
    padding: 1px 2px;
  }
  #appsect button {
    padding: 3px;
    font-size: 10px;
  }
  .discover-jobs > div:nth-child(2) > button {
    margin: 10px 3px;
  }
  /* ---------------------------------Page Specific End--------------------------------- */
}
