/* -----------------------------------Small Screen Sizes----------------------------------- */

@media all and (min-width: 320px) and (max-width: 809px) {
  /*------------------------------------ Universals------------------------------------ */
  * {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
  }
  .flexalign {
    display: grid;
  }
  .sectionHeads {
    font-size: 25px;
    margin: 10px auto;
  }
  #loginbut {
    margin: 1px 1px;
  }
  .gradbutton {
    margin: 1px 3px;
  }
  header {
    display: flex;
    justify-content: space-around;
  }
  header > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px;
    margin: 0px;
  }
  .home > a > div {
    margin: 0px 5px;
    padding: 1px;
    text-align: center;
  }
  #mqx {
    display: none;
  }
  .loginslider {
    display: block;
  }
  .mobile-nav-toggle {
    display: block;
    top: 30px;
    right: 30px;
  }
  .primary-navigation {
    inset: 0 0 0 40%;
  }
  #avatarhead {
    margin-top: 50px;
    font-size: 25px;
  }
  #avatar {
    width: 30%;
  }
  .avatarx {
    font-size: 12px;
  }
  .jobsul,
  .Compsul,
  .Servsul,
  .jobsul:hover,
  .Compsul:hover,
  .Servsul :hover,
  #JobsNav:hover .jobsul,
  #CompNav:hover .Compsul,
  #ServNav:hover .Servsul {
    display: none;
  }
  .problem {
    height: 38vh;
    width: 45vh;
    margin: auto;
    left: 10px;
    top: 150px;
    color: black;
  }
  /* ----------------------------------Page Specific Start---------------------------------- */
  #headingJobs {
    font-size: 20px;
    font-weight: bolder;
    position: static;
    left: 50px;
    top: 900px;
    z-index: 5;
  }
  #qrcose {
    width: 40%;
    margin: 5px 56px;
  }

  section {
    margin: 10px auto;
  }
  .searchbox {
    width: 90%;
    margin: 10px 3px;
    padding: 15px 5px;
  }
  #searchbox-inner {
    width: 90%;
  }
  .searchinput {
    width: 55%;
  }
  .band {
    background-size: contain;
    height: 179px;
    padding: 0px;
  }
  .searchbox * {
    font-size: 14px !important;
  }
  .Avatar {
    position: absolute;
    left: 38%;
    right: 40%;
    top: 210px;
  }
  .insidePI {
    margin-top: 0px;
    margin: 0px 10px;
    padding: 40px 12px;
  }
  .PersonInfo {
    position: static;
    width: 100%;
    top: 50px;
  }
  .container1,
  .recruiters,
  #flexing {
    width: 95%;
  }
  .recruiters > h1 {
    margin-left: 27px;
  }
  body {
    position: relative;
  }
  #logoutbut {
    padding: 5px 17px;
    z-index: 9999;
  }
  #placemeimg {
    top: 650px;
    align-self: center;
    width: 100%;
  }
  .PlacemeApp {
    position: static;
    width: 93%;

    border-radius: 10px;
  }
  .JobCard {
    position: relative;
    padding: 10px;
  }
  .cardimage {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 20px;
    bottom: 3px;
  }
  #flexing > div {
    width: 35%;
  }
  #flexing > div > div {
    width: 70%;
    margin: 5px;
  }
}
