/* --------------------------Medium screen sizes ------------------------------------------*/
@media all and (min-width: 810px) and (max-width: 1280px) {
  /*--------------------- Universals--------------------- */
  * {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
  }
  .loginslider {
    display: block;
  }
  .flexalign {
    display: grid;
  }
  .problem {
    height: 24vh;
    top: 150px;
    color: black;
  }
  .sectionHeads {
    font-size: 40px;
    margin: 25px auto;
  }
  #loginbut {
    margin: 1px 3px;
  }
  .gradbutton {
    margin: 1px 3px;
  }
  header {
    display: flex;
    justify-content: space-around;
  }
  header > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0px;
    margin: 0px;
  }
  .home > a > div {
    margin: 0px 5px;
    padding: 1px;
    text-align: center;
  }
  .jobsul,
  .Compsul,
  .Servsul,
  .jobsul:hover,
  .Compsul:hover,
  .Servsul :hover,
  #JobsNav:hover .jobsul,
  #CompNav:hover .Compsul,
  #ServNav:hover .Servsul {
    display: none;
  }
  /* -------------------------Page Specifc Start------------------------- */
  .recom-bar {
    justify-content: space-around;
  }
  span {
    display: none;
  }
  .backbutton {
    padding: 5px 10px;
    font-size: 24px;
    position: absolute;
    top: 150px;
    right: 80px;
  }
  #rightpart {
    position: static;
    bottom: 500px;
    width: 90%;
  }
  #leftpart {
    width: 97%;
  }
  #Jobname {
    font-size: 20px;
  }
  .JobCard {
    position: relative;
    padding: 10px;
    margin: 0px;
  }
  .JobScontainer {
    margin: 70px 10px 40px 10px;
    padding: 5px;
  }
  .JobcardFirstDiv {
    margin: 7px;
  }
  .JobScontainer > div {
    margin: 10px;
    padding: 5px;
  }
  .cardimage {
    position: absolute;
    right: 18px;
    top: 25px;
    width: 180px;
    height: 180px;
  }
  #favButton {
    font-size: 14px;
    position: relative;
  }
  #viewButton {
    position: absolute;
    bottom: 11px;
    font-size: 14px;
  }

  .text-container {
    padding: 14px;
  }
}

/* -----------------------------------Small Screen Sizes----------------------------------- */

@media all and (min-width: 320px) and (max-width: 809px) {
  /*------------------------------------ Universals------------------------------------ */
  * {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
  }
  .flexalign {
    display: grid;
  }
  .sectionHeads {
    font-size: 25px;
    margin: 10px auto;
  }
  #loginbut {
    margin: 5px 3px;
    padding: 4px 0px;
    font-size: 8px;
  }
  #registerbut {
    padding: 5px 12px;
    font-size: 9px;
  }
  .gradbutton {
    margin: 1px 3px;
    padding: 5px;
  }
  header {
    display: flex;
    justify-content: space-around;
  }
  header > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px;
    margin: 0px;
  }
  .home > a > div {
    margin: 0px 5px;
    padding: 1px;
    text-align: center;
  }
  span {
    display: none;
  }
  .loginslider,
  #mqx {
    display: none;
  }
  .jobsul,
  .Compsul,
  .Servsul,
  .jobsul:hover,
  .Compsul:hover,
  .Servsul :hover,
  #JobsNav:hover .jobsul,
  #CompNav:hover .Compsul,
  #ServNav:hover .Servsul {
    display: none;
  }
  .problem {
    height: 38vh;
    width: 45vh;
    margin: auto;
    left: 10px;
    top: 150px;
    color: black;
  }

  /* ----------------------------------Page Specific Start---------------------------------- */
  span {
    display: none;
  }
  .backbutton {
    padding: 5px 10px;
    font-size: 17px;
    position: absolute;
    top: 150px;
    right: 30px;
  }
  #rightpart {
    position: static;
    bottom: 500px;
    width: 90%;
  }
  #leftpart {
    width: 100%;
  }
  #Jobname {
    font-size: 20px;
  }
  .JobCard {
    position: relative;
    padding: 10px;
    margin: 0px;
  }
  .JobScontainer {
    margin: 30px 10px;
    padding: 5px;
  }
  .JobcardFirstDiv {
    margin: 7px;
  }
  .JobScontainer > div {
    margin: 10px;
    padding: 5px;
  }
  .cardimage {
    position: absolute;
    right: 18px;
    top: 25px;
    width: 80px;
    height: 80px;
  }
  #favButton {
    font-size: 14px;
    position: relative;
  }
  #viewButton {
    position: absolute;
    bottom: 11px;
    font-size: 14px;
  }

  .text-container {
    padding: 14px;
  }
}
